*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}
html{
  overflow-x: hidden; /* hides horizontal overflow */
  width: 100%;
  scroll-behavior: smooth;
}
body{
    background-color: hsl(204, 28%, 7%);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    background: #101d42;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
   
}

nav ul{
    display: flex;
    justify-content: center;
   
}
nav ul li{
  list-style: none;
}
nav ul li a{
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin: 0px 20px;
  animation: slideBottom 1s ease-in-out forwards;
}
nav ul a:hover{
    color:#6564db;
    font-size: 1.5rem;
    text-shadow: 0 0 22px #6564db;
    
} 
.logo{
    font-weight: 500;
    font-size: 2rem;
    animation: slideRight 1s ease-in-out forwards;
}

.home{
    height: 90vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0 10px 0;
    
}
.home-content{
    width: 40%;
    animation: slideRight 1s ease-in-out forwards;

}

.home-image{
    width: 40%;
    animation: slideLeft 1s ease-in-out forwards;
}

.home-image img{
    height: 25rem;
    width: 80%;
    
    
}
.home-content div{
    font-size: 7vb;
    width: 80%;
  
}
.home-span{
 color: #89d2dc;

}
.social-media{
   animation: slideRight 2.5s ease-in-out forwards;
    
}

.social-media a{
    background-color: transparent;
    color: #89d2dc;
    border: 3px solid #89d2dc;
    height: 1rem;
    width: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: 3px 10px 1px 9px;
}
.social-media a:hover{
    background-color: #89d2dc;
    color: #0d1317;
    box-shadow: 0 0 50px#89d2dc;
}
#element{
    color: #6564db;
    font-size: 6vb;
    animation: slideRight 2.5s ease-in-out forwards;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}
.about-image{
width: 35vw;
animation: slideRight 1s ease-in-out forwards;
}
.about-image img{
height: 22rem;
border-radius: 50%;
box-shadow: 0 0 50px #89d2dc;
margin-left: 4rem;
}

.about-content{
width: 55vw;
}
.about-content h2{
    font-size: 50px;
    font-weight: 500;
    animation: slideBottom 1s ease-in-out forwards;
}
.about-content h2 span{
    font-size: 2rem;
    font-weight: 500;
    color: #89d2dc;
}
.about-content h4{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.7rem;
    color: white;
    margin: 10px 0 25px 0 ;
    animation: slideLeft 1s ease-in-out forwards;
}
.about-content h4:hover{
    font-size: 2.2rem;
    text-decoration: underline;
    text-shadow: 0 0 20px#89d2dc;
}
.about-content p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7rem;
    color: white;
    margin: 10px 0 25px 0 ;
}
.about-more-btn{
    background-color: #0d1317;
    color: #89d2dc;
    border: 3px solid #89d2dc;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    border-radius: 71px;
    animation: slideRight 1s ease-in-out forwards;
}
.about-more-btn:hover{
    background-color: #89d2dc;
    color: #101d42;
    box-shadow: 0 0 20px #89d2dc;
    font-size: large;
}

.services{
    height: 100vh;
    padding: 40px;
}
.services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 40px;
    animation: slideBottom 1s ease-in-out forwards;
}
.services-title span{
    font-size: 2rem;
    font-weight: 500;
    color: #89d2dc;
}

.services-lists {
    display: flex;
    justify-self: center;
    align-items: center;
    animation: slideBottom 1s ease-in-out forwards;
}
.services-lists div{
border: 2px solid #0d1317;
border-radius: 20px;
padding: 20px;
margin: 40px;
box-shadow: 0 0 80px #232ed1;
}
.services-lists div:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 80px #6564db;
}
.services-lists div i{
    font-size: 60px;
}
.services-lists div h2{
    color: #89d2dc;
    font-size: 30px;
    margin: 10px 0 10px 0;
    animation: slideBottom 1s ease-in-out forwards;
}
.services-lists div p{
    margin: 0 0 12px 0;
}
.services-lists div a{
    text-decoration: none;
    background: #0d1317;
    color: #89d2dc;
    padding: 3px 9px 3px 9px;
    border: 3px solid #89d2dc;
    border-radius: 30px;
    font-weight: 600;
    animation: slideLeft 2.5s ease-in-out forwards;
    box-shadow: 0 0 20px #6564db;
}
.services-lists div a:hover{
    background-color: #89d2dc;
    color: #101d42;
    box-shadow: 0 0 20px #89d2dc;
}

.skills{
    width: 100vw;
    padding: 20px;
}
.skills .containers{
    display: flex;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    }
.skills h2{
    padding: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    animation: slideBottom 1s ease-in-out forwards;
} 
.skills h2 span{
    font-size: 2rem;
    font-weight: 500;
    color: #89d2dc;
}
.skills-container1{
  border: 2px solid #0d1317;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  box-shadow: 0 0 80px #232ed1;
}
.skills-container1:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 80px #6564db;
}
.bar {
    margin: 20px ;
    display: flex;
  }
  
.info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    animation: slideRight 1s ease-in-out forwards;
  }
  .progress-line {
    position: relative;
    width: 40vw;
    height: 12px;
    background: #101d42;
    border-radius: 6px;
    margin: 20px;
    animation: animateprogressline 1s linear forwards;
  }
  @keyframes animateprogressline {
    0%{
        width: 1%;
    }
    100%{
        width: 100%;
    }
  } 
  .bar i{
    font-size: 50px;
  }
  .skills .technical-skills h3{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
    animation: slideBottom 1s ease-in-out forwards;
  }
  .skills .technical-skills h3:hover{
    font-size: 2rem;
    text-decoration: underline;
    text-shadow: 0 0 20px #89d2dc;
  }
  .skills .technical-skills{
    width: 40vw;
   
  }
  .progress-line span {
    display: block;
    height: 100%;
    width: 0;
    background: #89d2dc; /* Skill color */
    border-radius: 6px;
    position: relative;
    color: #101d42;
    text-align: right;
    padding-right: 5px;
    line-height: 12px;
    font-size: 10px;
    animation: fillBar 2s ease-out forwards;
    box-shadow: 0 0 20px #89d2dc;
  }
  
  @keyframes fillBar {
    to {
      width: calc(var(--percentage) * 1%);
    }
  }
  
  .skills-container2{
    border: 2px solid #0d1317;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  box-shadow: 0 0 80px #232ed1;
  }
  .skills-container2:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 80px #6564db;
  }
 .skills-container2 h3{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    animation: slideBottom 1s ease-in-out forwards;
  }
  .skills .skills-container2 h3:hover{
    font-size: 2rem;
    text-decoration: underline;
    text-shadow: 0 0 20px #89d2dc;
  }
  .skills .professional-skills{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px 0px 84px;
}
  
  .progress-circle {
    width: 150px;
    height: 140px;
    position: relative;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
    animation: slideLeft 1s ease-in-out forwards;
  }
  
  .circle-svg {
    transform: rotate(-90deg); /* Start animation from top-right */
    width: 100px;
    height: 100px;
  }
  
  .bg {
    fill: none;
    stroke: #101d42;
    stroke-width: 10;
    stroke-dasharray: 282.6; /* Full circle length (2πr ≈ 2*π*45) */
    stroke-dashoffset: 282.6;
    animation: animatebg 0.5s linear forwards;
  }
  @keyframes animatebg {
    100%{
        stroke-dashoffset: 0;
    }
  }
  .progress {
    fill: none;
    stroke: #89d2dc;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 282.6; /* Full circle length (2πr ≈ 2*π*45) */
    stroke-dashoffset: 282.6;
  }

  .communication{
    animation: progressAnim1 2s ease-out forwards;
  }
  .creativity{
    animation: progressAnim2 2s ease-out forwards;
  }
  .teamwork{
    animation: progressAnim3 2s ease-out forwards;
  }
  .problemsolving{
    animation: progressAnim4 2s ease-out forwards;
  }
  .percent-text {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .label {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #89d2dc;
    text-shadow: 0 0 30px #89d2dc;
  }
  
  /* 90% fill (282.6 - 90% of 282.6 = 28.26 offset) */
/*100%	0
  90%	28
  80%	56
  70%	84
  60%	113
  50%	141
  40%	169
  30%	198
  20%	226
  10%	254
  0%	282 */
  @keyframes progressAnim1 {
    to {
      stroke-dashoffset: 113; /*60%*/
    }
  }
   
  @keyframes progressAnim2{
    to {
      stroke-dashoffset: 56; /*80%*/
    }
  }
  @keyframes progressAnim3 {  /*60%*/
    to {
      stroke-dashoffset: 113;
    }
  }
  @keyframes progressAnim4 {  /*70%*/
    to {
      stroke-dashoffset: 84;  
    }
  }

.projects{
    padding: 80px;
}
.projects h2{
    padding: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    animation: slideBottom 1s ease-in-out forwards;
}
.projects h2 span{
    font-size: 2rem;
    font-weight: 500;
    color: #89d2dc;
}
.projects-container{
  height: 90vh;
  width: 100vw;
  display: flex;

  align-items: center;
 flex-wrap: wrap;
} 
.projects .projects-content{
  height: 15rem;
  width: 22.5rem;
  border: 0px solid #89d2dc;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}
.projects-content img{
  height: 12rem;
  width: 20rem;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #101d42;
  box-shadow: 0 0 20px#89d2dc;
}
.projects-content .projects-info{
  width: 100%;
  height: 0;
  font-size: 12px;
  overflow: hidden;
}
 .projects-content:hover {
  box-shadow:0 0 30px #89d2dc;
  height: 23rem;
  animation: projecta1 1s ease-in-out forwards; 
 }
 .projects-content:hover .projects-info{
  animation: projecta1 1s ease-in-out forwards; 
 }

@keyframes projecta1 {
  0%{
    height: 10rem;
    overflow:hidden;
  }
  90%{
    height: 24rem;
    overflow:hidden;
  }
  100%{
    height: 24rem;
    overflow: visible;
  }
}
.projects-content .projects-info h4{
    font-size: 1.5rem;
}
.projects-content .projects-info p{
  font-size: 0.7rem;
}
.projects-content .projects-info a{
  font-size: 1rem;
}
.projects-info a:hover{
  font-size: 1.5rem;
  text-shadow: #89d2dc;
}


.contactme{
  width: 100vw;
  padding: 40px;

}
.contactme h2{
  padding: 40px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  animation: slideBottom 1s ease-in-out forwards;
}
.contactme span{
  font-size: 2rem;
    font-weight: 500;
    color: #89d2dc;
}

.contactme-container{
  display: flex;
  justify-content: space-between;
  
}
.contactme-info{
  width: 40vw;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 80px #232ed1;
}
.contactme-info:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 30px #89d2dc;
}
.contactme-info h4{
  color: #89d2dc;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
  animation: slideBottom 1s ease-in-out forwards;
}
.contactme-info h4:hover{
  font-size: 2rem;
  text-decoration: underline;
  text-shadow: 0 0 20px #89d2dc;
}
.contactme-list{
margin-top: 20px;
}
.contactme-list .phone:hover{
  color: green;
  text-shadow: 0 0 20px #89d2dc;
  cursor: pointer;
  font-size: 2rem;
}
.contactme-list .email:hover{
  color: red;
  text-shadow: 0 0 20px #89d2dc;
  cursor: pointer;
  font-size: 2rem;
}
.contactme-list li{
  list-style: none;
  font-size: 20px;
  line-height: 50px;
}
.contactme-social-media{
  animation: slideRight 2.5s ease-in-out forwards;
  margin-top: 40px;
}
.contactme-social-media a{
  background-color: transparent;
  color: #89d2dc;
  border: 3px solid #89d2dc;
  height: 1rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  padding: 3px 10px 1px 9px;
  
}
.contactme-social-media a:hover{
  background-color: #89d2dc;
  color: #0d1317;
  box-shadow: 0 0 50px#89d2dc;
}



.contactus-form{
  width: 40vw;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 80px #232ed1;
  border-radius: 20px;
}
.contactus-form:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 30px #89d2dc;
}
.contactus-form h4{
  color: #89d2dc;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
  animation: slideBottom 1s ease-in-out forwards;
}
.contactus-form h4:hover{
  font-size: 2rem;
  text-decoration: underline;
  text-shadow: 0 0 20px #89d2dc;
}
.contactus-form input{
  border: 1px solid#89d2dc;
  width: 95%;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 20px #89d2dc;
}
.contactus-form input:hover{
  box-shadow: 0 0 20px #89d2dc;
  height: 25px;
  width: 97%;
  background-color: #fff;
  border: 1px solid #0d1317;
}
.contactus-form textarea{
  border: 1px solid#89d2dc;
  width: 95%;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 20px #89d2dc;
}
.contactus-form textarea:hover{
  box-shadow: 0 0 20px #89d2dc;
  height: 100px;
  width: 97%;
  background-color: #fff;
  border: 1px solid#0d1317;
}
.contactus-form button{
  text-decoration: none;
  background: #0d1317;
  color: #89d2dc;
  padding: 3px 9px 3px 9px;
  border: 3px solid #89d2dc;
  border-radius: 30px;
  font-weight: 600;
  animation: slideLeft 2.5s ease-in-out forwards;
  box-shadow: 0 0 20px #6564db;
  font-size: 15px;
  font-family: 'poppins';
  
}
.contactus-form button:hover{
  background-color: #89d2dc;
  color: #101d42;
  box-shadow: 0 0 20px #89d2dc;
}


@keyframes slideRight {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes slideTop {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes slideBottom {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  